<!-- Extending the base template -->
{% extends "base.html" %}
<!-- Title -->
{% block title %}Posts{% endblock %}
<!-- Content -->
{% block content %}
<div class="mt-4">
    {% for post in posts %}
    <div class="row justify-content-md-center mb-3">
        <div class="col-sm-12 col-md-6 p-0 post-container">
            <div class="media pl-3 pb-1">
                <div class="avatarRedondo avatarRedondo-post " style="background-image:url('{{ post.profile.picture.url }}')"></div>
                <div class="media-body">
                    <p style="margin-top:5px">{{post.user.get_full_name}}</p>
                </div>
            </div>

            <img src="{{ post.photo.url }}" style="width: 100%" alt="{{ post.title }}">

            <p class="mt-1 ml-2">
                <a href="" style="color:#000; font-size:20px">
                    <i class="far fa-heart"></i>
                </a> 30 likes
            </p>

            <p class="ml-2 mt-0 mb-2">
                <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}