<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Okamigram - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <!-- My Style -->
    <style>
        nav {
            height: 55px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a href="/">
                <!-- <img src="{% static 'img/logo150px.png' %}" alt="Okamigram" height="40px"> -->
                <img src="{% static 'img/logo-ig.png' %}" alt="Okamigram" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-left:20px;">
                <ul class="navbar-nav text-black ml-auto">
                    <li class="nav-item" style="margin-right: 10px">
                        <!-- <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a> -->
                        <a href="">
                            <img src="{% static 'img/perfil.png' %}" class="d-inline-block align-top" height="30" alt="" style="margin-top: 5px">
                        </a>
                    </li>
                    <li class="nav-item" style="padding-top: 5px">
                        <a href="">
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item" style="padding-top: 5px; padding-left: 10px">
                        <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            <i class="fa fa-sign-out-alt fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mb-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Import Javascript -->
    <script src="{% static 'jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'font-awesome/js/all.js' %}"></script>
</body>

</html>