<!-- Extending the base template -->
{% extends "users/base_session.html" %}
<!-- Title -->
{% block title %}Login{% endblock %}
<!-- Card-tam -->
{% block col-tam %} col-md-4 {% endblock %}
<!-- Content -->
{% block content %}
<div>
    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="{% if form.errors %}{{ form.username.value }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'users:signup' %}">Create an account</a>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger mt-3 text-center" role="alert">
            Your username or password didn't match. Please try again.
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}